p{
    color: #440909;
}
a {
    color: #2e7099f8;
}
a:hover {
    color: #bd4745; 
} 
h1, h2{
    color: #c85c67;
}
nav {
    background-color: #9e9e9e;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #ffffff;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.navsplit1, .navsplit2 {
    display: flex;
}
nav div {
    padding: 0 5px;
}
nav a {
    color: #ffffff;
    text-decoration: none;
}
.topics {
    display: flex;
}
.no1, .no2, .no3 {
    flex-wrap: wrap;
    flex: 1;
    margin: 20px;
    padding: 20px;
    background-color: #f3f3f3b0;
    border-radius: 10px;
    justify-content: center;
}
.skip {
    background-color: #b6b6b6;
    padding: 5px;
    text-decoration: none;
    color: #bd4745;
    position: absolute; /* position element relative to top left of viewport */
    left: -999px; /* push it off the left side */
}
.skip:focus {
    left: 10px; /* bring it back when they tab to it */
}