   /* p is our selector, color is our property, and darkorchid is our value */
   p, h1 {
    color: darkorchid;
    /* this is font size by % - 3 times default size
    font-size: 300%; */
    font-size: 1.5em; /* 50% bigger than default */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
/* "p a" is looking for "a" in a "p" */
p a {color: cornflowerblue;}
/* # is looking for id */
#firstlink {color: burlywood;}
/* . is looking for class attribute */
.redtext {color: red;}